@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

/* Color palette */
:root {
  --color-primary: #ffecd1;
  --color-secondary: #ff7d00;
  --color-tertiary: #78290f;
  --color-dark: #009497;
  --color-darker: #001524;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.logo {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  h1 {
    color: var(--color-primary);
    text-transform: uppercase;
    text-align: center;
    font-family: "Monoton";
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
    word-spacing: 30px;
  }
  img {
    width: 150px;
  }
}

.add-form {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  button,
  select,
  input {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    font-family: inherit;
    border: none;
    border-radius: 10rem;
    padding: 0.25rem 1.2rem;
    font-weight: 700;
    font-size: 1.8rem;
    cursor: pointer;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%2378290f' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: 50%;
    padding-right: 2.5rem; /* Aumenta il padding destro per fare spazio alla freccia */
  }

  button {
    text-transform: uppercase;
    background-color: var(--color-dark);
    color: var(--color-primary);
    padding: 0.25rem 2.2rem;
  }
}

.list {
  background-color: var(--color-primary);
  color: var(--color-darker);
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;

  ul {
    list-style: none;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.2rem;
    justify-content: center;
    align-content: start;

    li {
      font-weight: 600;
      display: flex;
      align-items: center;
      button {
        cursor: pointer;
        background: none;
        border: none;
        font-size: 1.5rem;
        padding: 0.8rem;
        transform: translateY(2px);
      }
    }
  }
}

.stats {
  background-color: var(--color-dark);
  color: var(--color-primary);
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 0;
}
